li{
  float: left;
  padding-left: 2rem;
}

li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a{
  padding: 8px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2300ff;
}

#logo{
  padding-top: .5rem;
  padding-left: 2rem;
}

#main{
  margin-top: 2rem;
  margin-left: 2rem;
}