li{
  float: left;
  padding-left: 2rem;
}

li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a{
  padding: 8px;
}

ul{
  height: 3rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F8951E;
}

#logo{
  padding-top: .5rem;
  padding-left: 2rem;
}

#rightside{
  grid-area: rightside-item;
}

#leftside{
  grid-area: leftside-item;
}

#downside{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "content1 content2";

  grid-area: downside;
  margin: 2rem auto 0rem auto;
}

#main{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "leftside-item rightside-item"
                      "downside downside";
  margin-top: 2rem;
  margin-left: 2rem;
}

#imagemcartao{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-item{
  padding:0;
  margin: 0;
}

#boxcliente{
  display: block;
  width: 13.8rem;
  font-size: 1rem;
  text-align: justify;
  background: white;
  padding: 0.1rem 0.2rem;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
}

.boxcontent{
  width: 21.37rem;
  font-size: 0.9rem;
  text-align: justify;
  height: 13rem;
  background: white;
  padding: 0.1rem 0.2rem;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
}

#boxcontent1{
  grid-area: content1;
  margin-right: 1rem;
}

#boxcontent2{
  grid-area: content2;
  margin-left: 1rem;
}
