li{
  float: left;
  padding-left: 2rem;
}

li a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a{
  padding: 8px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2300ff;
}

#logo{
  padding-top: .5rem;
  padding-left: 2rem;
}

#rightside{
  grid-area: rightside-item;
}

#leftside{
  grid-area: leftside-item;
}

#downside{
  display: inline-block;
  grid-area: downside;
  margin: 2rem auto 0rem auto;
}

#main{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "leftside-item rightside-item"
                      "downside downside";
  margin-top: 2rem;
  margin-left: 2rem;
}

#imagemcartao{
  margin: 0 auto;
}

.grid-item{
  padding:0;
  margin: 0;
}

#boxcliente{
  display: block;
  width: 13.8rem;
  font-size: .9rem;
  text-align: justify;
}

.boxcontent{
  width: 20rem;
  text-align: justify;
}
